<div ng-include="'partials/navbar'"></div>

<div class="jumbotron">
  <h3>Morning Ninja, enter your zip code<span ng-show="currentUser"> | {{ currentUser.name }}</span>!</h3>
  <form ng-submit="submitZip()">
    <input type="text" ng-model="zipCode.userZip" placeholder="enter zip code"/><br>
    {{zipCode.userZip}}<br>
    <input type="submit" class="btn btn-success" value="Enter Zip Code"/>
  </form>
</div>

<div class="row marketing">
  <div>
    {{latAndLong}}
  </div>
  <div ng-repeat="thing in awesomeThings">
      <!-- <h4>{{thing.name}}</h4>
      <p>{{thing.info}}</p> -->
  </div>
</div>

<div class="footer">
  <p>♥ from the Yeoman team</p>
</div>
